#logo{
	position: absolute;
	left: 2%;
	top: 1px;
	text-align: left;
}

#menu{
	position: absolute;
	left: 3%;
	top: 10px;
	text-align: right;
	width: 94%;
	background-image: url("d4cddc1c.png");
	//z-index: 9999999;
}

#notCorrect{
	position: absolute;
	top: 100px;
	left: 3%;
	width: 94%;
	text-align: center;
	font-size: 50px;
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
}

#content{
	position: absolute;
	top: 13px;
	text-align: center;
	left: 15%;
	width: 70%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
}

#bottomBar{
	position: absolute;
	bottom: 20px;
	text-align: center;
	left: 3%;
	width: 94%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
}

#Canvas{
	position: absolute;
	top: 10px;
	text-align: center;
	left: 3%;
	width: 94%;
	z-index: -1;
}

#Canvas2{
	position: relative;
	text-align: center;
	z-index: -1;
}

#Canvas2Pos{
	position: relative;
	text-align: center;
	z-index: -1;
	top: 100px;
	width: 20%;
	left: 70%;
	height: 200px;
}

#face{
	position: absolute;
	text-align: center;
	left: 68px;
	top: 64px;
	z-index: -1;
}

ul{
	padding-right: 25px;
}

li{
	display: inline;
	padding-right: 5px;
}


body{
	background-image: url("c09d36dc.png");
}
