#menu{
	position: fixed;
	left: 10%;
	top: 10px;
	text-align: right;
	width: 80%;
	background-image: url("d4cddc1c.png");
}

#notCorrect{
	position: fixed;
	top: 50px;
	text-align: center;
	color: white;
}

ul{
	padding-right: 25px;
}

li{
	display: inline;
	padding-right: 5px;
}


body{
	background-image: url("c09d36dc.png");
}
