#logo{
	position: absolute;
	left: 2%;
	top: 2px;
	text-align: left;
}

#menu{
	position: absolute;
	left: 2%;
	top: 10px;
	text-align: right;
	width: 96%;
	background-image: url("d4cddc1c.png");
	//z-index: 9999999;
}

#notCorrect{
	position: absolute;
	left: 3%;
	width: 94%;
	text-align: center;
	font-size: 50px;
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
}

#content{
	position: absolute;
	top: 16px;
	text-align: center;
	left: 25%;
	width: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
	//word-wrap: break-word;
	white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
}

#content3{
	position: absolute;
	text-align: center;
	color: white;
	top: 100px;
	font-size: 50px;
	left: 25%;
	width: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	word-wrap: break-word;
}

#bottomBar{
	position: absolute;
	bottom: 30px;
	text-align: center;
	left: 3%;
	width: 94%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
}

#Canvas{
	position: absolute;
	top: 10px;
	text-align: center;
	left: 3%;
	width: 94%;
	z-index: -1;
}

#Canvas2{
	position: relative;
	text-align: center;
	z-index: -1;
}

#Canvas2Pos{
	position: relative;
	text-align: center;
	z-index: -1;
	top: 70px;
	left: 80%;
	height: 200px;
	width: 140px;
}

#face{
	position: absolute;
	text-align: center;
	left: 26%;
	top: 32%;
	z-index: -1;
}

#footer{
	position: fixed;
	text-align: right;
	z-index: 10000000;
	left: 0px;
	bottom: 0px;
	height: 20px;
	width: 100%;
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
	background-image: url("d4cddc1c.png");
	color: black;
	padding-top: 4px;
}

#content2{
	position: absolute;
	top: 13px;
	text-align: left;
	left: 2%;
	width: 96%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
	word-wrap: break-word;
	padding-top: 30px;
}

ul{
	padding-right: 25px;
}

li{
	display: inline;
	padding-right: 5px;
}

body{
	background-image: url("Background.jpg");
}

.submitButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.submitButton2{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

.menuButton{
    background-color: #FFC31E;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
}

.menuButton2{
    background-color: #000080;
    border-width: 3px;
    border-color: #1E90FF;
    border-style: double;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    width: 40%;
    height: 50%;
    font-family: "Lucida Console", Monaco, monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.icon{
    background-image: url("quiltedRedsGif3.gif) no-repeat;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 28px;
}

.tg{
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td{
	font-family: Arial, sans-serif;
	color: white;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}

.tg th{
	font-family: Arial, sans-serif;
	color: white;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}

.tg .tg-yw4l{
	vertical-align: top;
}
