#logo{
	position: absolute;
	left: 2%;
	top: 6px;
	text-align: left;
}

#menu{
	position: absolute;
	left: 2%;
	top: 10px;
	text-align: right;
	width: 96%;
	background-image: url("d4cddc1c.png");
	padding: 4px;
	border: 2px solid #3A84EB;
	//z-index: 9999999;
}

#notCorrect{
	position: absolute;
	left: 3%;
	width: 94%;
	text-align: center;
	font-size: 50px;
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
}

#tablePos{
	position: absolute;
	width: 50%;
	left: 45%;
	top: 80px;
}

#content{
	position: absolute;
	top: 18px;
	text-align: center;
	left: 25%;
	width: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
	//word-wrap: break-word;
	white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
}

#content3{
	position: absolute;
	text-align: center;
	color: white;
	top: 100px;
	font-size: 50px;
	left: 25%;
	width: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	word-wrap: break-word;
}

#bottomBar{
	position: absolute;
	bottom: 30px;
	text-align: center;
	left: 3%;
	width: 94%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
}

#Canvas{
	position: absolute;
	top: 0px;
	text-align: center;
	left: 0px;
	width: 100%;
	z-index: -1;
}

#Canvas2{
	position: relative;
	text-align: center;
	z-index: -1;
}

#Canvas2Pos{
	position: relative;
	text-align: center;
	z-index: -1;
	top: 70px;
	left: 80%;
	height: 200px;
	width: 140px;
}

#face{
	position: absolute;
	text-align: center;
	left: 26%;
	top: 32%;
	z-index: -1;
}

#footer{
	position: fixed;
	text-align: right;
	z-index: 10000000;
	left: 0px;
	bottom: 0px;
	height: 20px;
	width: 100%;
	font-size: 14px;
	font-family: "Lucida Console", Monaco, monospace;
	background-image: url("d4cddc1c.png");
	color: black;
	padding-top: 4px;
}

#content2{
	position: absolute;
	top: 13px;
	text-align: left;
	left: 2%;
	width: 96%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
	word-wrap: break-word;
	padding-top: 30px;
}

.matrixTable{
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
	font-size: 20px;
	font-weight: normal;
	padding: 20px 20px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	top: 20%;
}

ul{
	padding-right: 25px;
}

li{
	display: inline;
	padding-right: 5px;
}

body{
	background-color: black;
	background-image: url("mountains-691082_1280.jpg");
	background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

.submitButton{text-decoration:none; text-align:center; 
 padding:4px 6px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:21px "Lucida Console", Monaco, monospace; 
 font-weight:bold; 
 color:#fffcf2; 
 background-color:#39c737; 
 background-image: -moz-linear-gradient(top, #39c737 0%, #066e0d 100%); 
 background-image: -webkit-linear-gradient(top, #39c737 0%, #066e0d 100%); 
 background-image: -o-linear-gradient(top, #39c737 0%, #066e0d 100%); 
 background-image: -ms-linear-gradient(top, #39c737 0% ,#066e0d 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066e0d', endColorstr='#066e0d',GradientType=0 ); 
 background-image: linear-gradient(top, #39c737 0% ,#066e0d 100%);   
 -webkit-box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed; 
 -moz-box-shadow: 0px 0px 10px #bababa,  inset 0px 0px 11px #efffed;  
 box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed;  
  
 text-shadow: 0px 0px 20px #ccfc46; 
 filter: dropshadow(color=#ccfc46, offx=0, offy=0);  -webkit-transition: outline 1s ease-in-out;
 -moz-transition:  outline 1s ease-in-out;
 -o-transition:  outline 1s ease-in-out;
 transition:  outline 1s ease-in-out;}
 .button:hover{
 padding:4px 6px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:24px "Lucida Console", Monaco, monospace; 
 font-weight:bold; 
 color:#fffcf2; 
 background-color:#2de02a; 
 background-image: -moz-linear-gradient(top, #2de02a 0%, #0a9113 100%); 
 background-image: -webkit-linear-gradient(top, #2de02a 0%, #0a9113 100%); 
 background-image: -o-linear-gradient(top, #2de02a 0%, #0a9113 100%); 
 background-image: -ms-linear-gradient(top, #2de02a 0% ,#0a9113 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a9113', endColorstr='#0a9113',GradientType=0 ); 
 background-image: linear-gradient(top, #2de02a 0% ,#0a9113 100%);   
 -webkit-box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed; 
 -moz-box-shadow: 0px 0px 10px #bababa,  inset 0px 0px 11px #efffed;  
 box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed;  
  
 text-shadow: 0px 0px 20px #ccfc46; 
 filter: dropshadow(color=#ccfc46, offx=0, offy=0);}
 .button:active{
 padding:4px 6px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:21px "Lucida Console", Monaco, monospace; 
 font-weight:bold; 
 color:#fffcf2; 
 background-color:#27b825; 
 background-image: -moz-linear-gradient(top, #27b825 0%, #074a0b 100%); 
 background-image: -webkit-linear-gradient(top, #27b825 0%, #074a0b 100%); 
 background-image: -o-linear-gradient(top, #27b825 0%, #074a0b 100%); 
 background-image: -ms-linear-gradient(top, #27b825 0% ,#074a0b 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074a0b', endColorstr='#074a0b',GradientType=0 ); 
 background-image: linear-gradient(top, #27b825 0% ,#074a0b 100%);   
 -webkit-box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed; 
 -moz-box-shadow: 0px 0px 10px #bababa,  inset 0px 0px 11px #efffed;  
 box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed;  
  
 text-shadow: 0px 0px 20px #ccfc46; 
 filter: dropshadow(color=#ccfc46, offx=0, offy=0);}

.submitButton2{text-decoration:none; text-align:center; 
 padding:4px 6px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:24px "Lucida Console", Monaco, monospace; 
 font-weight:bold; 
 color:#fffcf2; 
 background-color:#39c737; 
 background-image: -moz-linear-gradient(top, #39c737 0%, #066e0d 100%); 
 background-image: -webkit-linear-gradient(top, #39c737 0%, #066e0d 100%); 
 background-image: -o-linear-gradient(top, #39c737 0%, #066e0d 100%); 
 background-image: -ms-linear-gradient(top, #39c737 0% ,#066e0d 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066e0d', endColorstr='#066e0d',GradientType=0 ); 
 background-image: linear-gradient(top, #39c737 0% ,#066e0d 100%);   
 -webkit-box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed; 
 -moz-box-shadow: 0px 0px 10px #bababa,  inset 0px 0px 11px #efffed;  
 box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed;  
  
 text-shadow: 0px 0px 20px #ccfc46; 
 filter: dropshadow(color=#ccfc46, offx=0, offy=0);  -webkit-transition: outline 1s ease-in-out;
 -moz-transition:  outline 1s ease-in-out;
 -o-transition:  outline 1s ease-in-out;
 transition:  outline 1s ease-in-out;}
 .button:hover{
 padding:4px 6px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:21px "Lucida Console", Monaco, monospace; 
 font-weight:bold; 
 color:#fffcf2; 
 background-color:#2de02a; 
 background-image: -moz-linear-gradient(top, #2de02a 0%, #0a9113 100%); 
 background-image: -webkit-linear-gradient(top, #2de02a 0%, #0a9113 100%); 
 background-image: -o-linear-gradient(top, #2de02a 0%, #0a9113 100%); 
 background-image: -ms-linear-gradient(top, #2de02a 0% ,#0a9113 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a9113', endColorstr='#0a9113',GradientType=0 ); 
 background-image: linear-gradient(top, #2de02a 0% ,#0a9113 100%);   
 -webkit-box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed; 
 -moz-box-shadow: 0px 0px 10px #bababa,  inset 0px 0px 11px #efffed;  
 box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed;  
  
 text-shadow: 0px 0px 20px #ccfc46; 
 filter: dropshadow(color=#ccfc46, offx=0, offy=0);}
 .button:active{
 padding:4px 6px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:24px "Lucida Console", Monaco, monospace; 
 font-weight:bold; 
 color:#fffcf2; 
 background-color:#27b825; 
 background-image: -moz-linear-gradient(top, #27b825 0%, #074a0b 100%); 
 background-image: -webkit-linear-gradient(top, #27b825 0%, #074a0b 100%); 
 background-image: -o-linear-gradient(top, #27b825 0%, #074a0b 100%); 
 background-image: -ms-linear-gradient(top, #27b825 0% ,#074a0b 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074a0b', endColorstr='#074a0b',GradientType=0 ); 
 background-image: linear-gradient(top, #27b825 0% ,#074a0b 100%);   
 -webkit-box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed; 
 -moz-box-shadow: 0px 0px 10px #bababa,  inset 0px 0px 11px #efffed;  
 box-shadow:0px 0px 10px #bababa, inset 0px 0px 11px #efffed;  
  
 text-shadow: 0px 0px 20px #ccfc46; 
 filter: dropshadow(color=#ccfc46, offx=0, offy=0);}

.menuButton{
    background-color: #FFC31E;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
}

.menuButton2{
text-decoration:none; text-align:center; 
border:none; 
-webkit-border-radius:4px;
-moz-border-radius:4px; 
border-radius: 4px; 
font:28px "Lucida Console", Monaco, monospace; 
font-weight:bold; 
color:#e5ffff; 
background-color:#3BA4C7; 
background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
-webkit-box-shadow:0px 0px 5px #bababa, inset 0px 0px 10px #94f0f7; 
-moz-box-shadow: 0px 0px 5px #bababa,  inset 0px 0px 10px #94f0f7;  
box-shadow:0px 0px 5px #bababa, inset 0px 0px 10px #94f0f7;  
opacity:0.9; 
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); 
filter: alpha(opacity=90); 
text-shadow: 0px 0px 20px #bababa; 
filter: dropshadow(color=#bababa, offx=0, offy=0);  -webkit-transition: outline 1s ease-in-out;
-moz-transition:  outline 1s ease-in-out;
-o-transition:  outline 1s ease-in-out;
transition:  outline 1s ease-in-out;
	display: inline-block;
width: 40%;
height: 50%;
white-space: nowrap;
overflow: hidden;
padding: 10px;
text-overflow: clip;
}.button:hover{
border:none; 
-webkit-border-radius:4px;
-moz-border-radius:4px; 
border-radius: 4px; 
font:28px "Lucida Console", Monaco, monospace; 
font-weight:bold; 
color:#e5ffff; 
background-color:#0da4d6; 
background-image: -moz-linear-gradient(top, #0da4d6 0%, #11a9db 100%); 
background-image: -webkit-linear-gradient(top, #0da4d6 0%, #11a9db 100%); 
background-image: -o-linear-gradient(top, #0da4d6 0%, #11a9db 100%); 
background-image: -ms-linear-gradient(top, #0da4d6 0% ,#11a9db 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11a9db', endColorstr='#11a9db',GradientType=0 ); 
background-image: linear-gradient(top, #0da4d6 0% ,#11a9db 100%);   
-webkit-box-shadow:0px 0px 5px #bababa, inset 0px 0px 10px #94f0f7; 
-moz-box-shadow: 0px 0px 5px #bababa,  inset 0px 0px 10px #94f0f7;  
box-shadow:0px 0px 5px #bababa, inset 0px 0px 10px #94f0f7;  
opacity:0.9; 
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); 
filter: alpha(opacity=90); 
text-shadow: 0px 0px 20px #bababa; 
filter: dropshadow(color=#bababa, offx=0, offy=0);
	display: inline-block;
width: 40%;
height: 50%;
white-space: nowrap;
overflow: hidden;
padding: 10px;
text-overflow: clip;
}.button:active{
border:none; 
-webkit-border-radius:4px;
-moz-border-radius:4px; 
border-radius: 4px; 
font:28px "Lucida Console", Monaco, monospace; 
font-weight:bold; 
color:#e5ffff; 
background-color:#106582; 
background-image: -moz-linear-gradient(top, #106582 0%, #1982A5 100%); 
background-image: -webkit-linear-gradient(top, #106582 0%, #1982A5 100%); 
background-image: -o-linear-gradient(top, #106582 0%, #1982A5 100%); 
background-image: -ms-linear-gradient(top, #106582 0% ,#1982A5 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
background-image: linear-gradient(top, #106582 0% ,#1982A5 100%);   
-webkit-box-shadow:0px 0px 5px #bababa, inset 0px 0px 10px #94f0f7; 
-moz-box-shadow: 0px 0px 5px #bababa,  inset 0px 0px 10px #94f0f7;  
box-shadow:0px 0px 5px #bababa, inset 0px 0px 10px #94f0f7;  
opacity:0.9; 
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); 
filter: alpha(opacity=90); 
text-shadow: 0px 0px 20px #bababa; 
filter: dropshadow(color=#bababa, offx=0, offy=0);
	display: inline-block;
width: 40%;
height: 50%;
white-space: nowrap;
overflow: hidden;
padding: 10px;
text-overflow: clip;
}
}

.icon{
    background-image: url("quiltedRedsGif3.gif) no-repeat;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 28px;
}

#first{
	position: absolute;
	top: 50px;
	text-align: center;
	left: 50%;
	width: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
	word-wrap: break-word;
	padding-top: 30px;
	color: white;
}

#second{
	position: absolute;
	top: 40px;
	text-align: center;
	left: 50%;
	width: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
	word-wrap: break-word;
	padding-top: 30px;
	color: white;
}

#third{
	position: absolute;
	top: 40px;
	text-align: center;
	left: 50%;
	width: 50%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
	word-wrap: break-word;
	padding-top: 30px;
	color: white;
}
