#logo{
	position: absolute;
	left: 2%;
	top: 1px;
	text-align: left;
}

#menu{
	position: absolute;
	left: 3%;
	top: 10px;
	text-align: right;
	width: 94%;
	background-image: url("d4cddc1c.png");
	//z-index: 9999999;
}

#notCorrect{
	position: absolute;
	top: 100px;
	left: 3%;
	width: 94%;
	text-align: center;
	font-size: 50px;
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
}

#content{
	position: absolute;
	top: 70px;
	text-align: center;
	left: 3%;
	width: 94%;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 24px;
}

#Canvas{
	position: absolute;
	top: 70px;
	text-align: center;
	left: 3%;
	width: 94%;
	z-index: -1;
}

ul{
	padding-right: 25px;
}

li{
	display: inline;
	padding-right: 5px;
}


body{
	background-image: url("c09d36dc.png");
}
